<div class="container">
  <div class="d-flex justify-content-center">
    <nav class="my-2 my-md-0 mr-md-3">
      <!--TODO rewrite for log screen controls-->
      {% if session.logged_in == True %}
      <span class="center">
        <!--TODO set buttons to center-->
        <!--TODO move _nav buttons here, maybe in a dropdown menu-->
        <a class="btn btn-primary" href="#">Change</a>
        <a class="btn btn-primary" href="#">Add</a>
        <a class="btn btn-primary" href="#">Remove</a>
        <a class="btn btn-primary" href="#">Other</a>
        <a class="btn btn-primary" href="#">Print</a>
        <a class="btn btn-danger" href="#">RESET</a>
      </span>
      {% endif %}
    </nav>
  </div>
</div>