<div class="container">
  <!--script type="text/javascript" src="/static/homeButtonsControls.js"></script-->
  <div class="d-flex justify-content-center">
    <nav class="my-2 my-md-0 mr-md-3">
      <!--TODO rewrite for log screen controls-->
      {% if session.logged_in == True %}
      <span class="center">
        <form method="post">
          {% if session.pauseBtnClicked == True %}
            <input class="btn btn-warning" type="submit" name="pauseTime" value="UnPause">
          {% else %}
            <input class="btn btn-warning" type="submit" name="pauseTime" value="Pause">
          {% endif %}
          <input class="btn btn-danger" type="submit" name="endTime" value="Stop">
          <div class="dropdown">
            <a class="btn btn-primary" href="#">Log Settings</a>
            <div class="dropdown-content">
              <input id="dropdown-btn" class="btn btn-primary" type="submit" name="settings" value="Settings">
              <input id="dropdown-btn" class="btn btn-primary" type="submit" name="log" value="Dev_Log">
              <input id="dropdown-btn" class="btn btn-primary" type="submit" name="print" value="Print">
              <input id="dropdown-btn" class="btn btn-primary" type="submit" name="glass" value="Add Glass">
            </div>
          </div>
        </form>
      </span>
      {% endif %}
    </nav>
  </div>
</div>