{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}
  {% endif %}
{% endwith %}

{% if error %}
  <div class="alert alert-danger">{{error}}</div>
  <script>
    setTimeout(function() {
            var loader = document.getElementsByClassName("alert alert-danger");
            loader.style.WebkitTransition = 'visibility .5s, opacity .5s';
            loader.style.opacity = '0';
            loader.style.visibility = 'hidden';
            loader.remove();
        }, 1250);
      </script>
{% endif %}

{% if msg %}
  <div class="alert alert-success">{{msg}}</div>
  <script>
    setTimeout(function() {
            var loader = document.getElementsByClassName("alert alert-sucess");
            loader.style.WebkitTransition = 'visibility .5s, opacity .5s';
            loader.style.opacity = '0';
            loader.style.visibility = 'hidden';
            loader.remove();
        }, 1250);
      </script>
{% endif %}