<div id="top-menu" class="d-flex justify-content-between">
  <div class="d-flex justify-content-start align-items-start">
    <nav class="my-2 my-md-0 mr-md-3">
      <span class="center">
        {% if session.logged_in == True %}
        <a class="btn btn-primary" href="/logout">Logout</a>
        <!--TODO only show admin panel for superusers only-->
        <a class="btn btn-primary" href="/setup">Admin</a>
        {% endif %}
      </span>
    </nav>
  </div>
<!--FIXME 1. logged_in jpg not visible else page  UPDATE: Still insolved +4m later-->
  <div class="d-flex justify-content-end align-items-end">
    <img src="{{url_for('static',filename = '/assets/FuyaoLogo3.jpg')}}" alt="Fuyao Logo" width="67" height="45"/>
  </div>
</div>