{% extends 'base.html' %}

{% block body %}
<div class="container">
    <h2>End of Shift Statistics</h2>
    <a href="#">Print Log Sheet</a>
    <a href="#">Print Labels Sheet</a>
    <a href="/logout">DONE</a>
    <hr />
    <div class="container">
        TODO's
        <ul></ul>
            <li>Remove LOGOUT button in replace of DONE</li>
            <li>start time</li>
            <li>end time</li>
            <li>time down</li>
            <li>total time</li>
            <li>max labels acheivable</li>
            <li>total labels</li>
            <li>total scrap</li>
            <li>scrap by scrap code</li>
            <li>scrap by PT</li>
            <li>empty wagons</li>
            <li>yeild</li>
            <li>yeild compared to yesterday, last week, last month, last year?</li>
        </ul>
    </div>
</div>
{% endblock %}