{% extends 'base.html' %}

{% block body %}
<!--Context menu for right click-->
<script type="text/javascript" src="/static/context.js" ></script>
<link rel="stylesheet" href="/static/context.css" >
<div id="contextMenu" class="context-menu" style="display: none"> 
    <ul class="menu"> 
        <li class="share"><a href="#"><i class="fa fa-share" aria-hidden="true"></i>F02</a></li> 
        <li class="rename"><a href="#"><i class="fa fa-pencil" aria-hidden="true"></i>F03</a></li> 
        <li class="link"><a href="#"><i class="fa fa-link" aria-hidden="true"></i>G01</a></li> 
        <li class="copy"><a href="#"><i class="fa fa-copy" aria-hidden="true"></i>G07</a></li> 
        <li class="paste"><a href="#"><i class="fa fa-paste" aria-hidden="true"></i>P06</a></li> 
        <li class="download"><a href="#"><i class="fa fa-download" aria-hidden="true"></i>PT</a></li> 
        <li class="trash"><a href="#"><i class="fa fa-trash" aria-hidden="true"></i>Empty</a></li> 
    </ul> 
</div> 


<div class="jumbotron text-center">
    {% if session.frontOrBack == true %}
        <h2>Furnace {{session.username}} Loading Log</h2>
    {% else %}
        <h2>Furnace {{session.username}} Unload Log</h2>
    {% endif %}
</div>
<hr />
<!--Navigation bar-->
{% include 'includes/_log_nav.html' %}
<hr />
<div class="d-flex justify-content-start align-items-start">
    <!--{% if blogs|length == 0 %}
        <p></p>
    {% else %}
        <ul>
            {% for blog in blogs %}
            <li><a href="blog/{{blog.id}}"><strong>{{blog.title}}</strong></a> 
            <p><small>Written by <a href="user/{{blog.user_name}}">{{blog.user_name}}</a> on {{blog.pub_date}}</small></p>
            </li>
            {% endfor %}
        </ul>
    {% endif %}-->

    

    <table class="tftable" style="border: 1;">
        <!--TODO change to jinja2 "for-loop"-->
        <tr id="hrow"><th id="hcounter">#</th><th id="hmodel">Model Num</th><th id="hjob">Job Number</th><th id="hcol"> 1</th><th id="hcol"> 2</th><th id="hcol"> 3</th><th id="hcol"> 4</th><th id="hcol"> 5</th><th id="hcol"> 6</th><th id="hcol"> 7</th><th id="hcol"> 8</th><th id="hcol"> 9</th><th id="hcol">10</th><th id="hcol">11</th><th id="hcol">12</th><th id="hcol">13</th><th id="hcol">14</th><th id="hcol">15</th><th id="hcol">16</th><th id="hcol">17</th><th id="hcol">18</th><th id="hcol">19</th><th id="hcol">20</th></tr>
        <tr id="drow"><td id="counter">1</td><td id="model">FW4546dw</td><td id="job">A222435</td><td id="data">&check;</td><td id="data">&check;</td><td id="data">&check;</td><td id="data">&check;</td><td id="data" style="background-color: rgb(227, 247, 114);">&#9660;</td><td id="data">G7</td><td id="data" style="background-color: rgb(127, 127, 233);">&#10052;</td><td id="data">&check;</td><td id="data"></td><td id="data"></td><td id="data"></td><td id="data"></td><td id="data"></td><td id="data"></td><td id="data"></td><td id="data"></td><td id="data"></td><td id="data"></td><td id="data"></td><td id="data"></td></tr>
        <tr id="drow"><td id="counter">2</td><td id="model">FW4546dw</td><td id="job">A222435</td><td id="data">&check;</td><td id="data">&check;</td><td id="data" style="background-color: rgb(230, 154, 169);">F3</td><td id="data" style="background-color: rgb(127, 127, 233);">&#10052;</td><td id="data">&check;</td><td id="data">&check;</td><td id="data" style="background-color: rgb(227, 247, 114);">&#x25BC;</td><td id="data">&check;</td><td id="data"></td><td id="data"></td><td id="data"></td><td id="data"></td><td id="data"></td><td id="data"></td><td id="data"></td><td id="data"></td><td id="data"></td><td id="data"></td><td id="data"></td><td id="data"></td></tr>
        <tr id="drow"><td id="counter">3</td><td id="model">FW4546dw</td><td id="job">A222435</td><td id="data">&check;</td><td id="data">&check;</td><td id="data">&check;</td><td id="data">&check;</td><td id="data" style="background-color: rgb(127, 127, 233);">&#10052;</td><td id="data">&check;</td><td id="data" style="background-color: rgb(227, 247, 114);">PT</td><td id="data"></td><td id="data"></td><td id="data"></td><td id="data"></td><td id="data"></td><td id="data"></td><td id="data"></td><td id="data"></td><td id="data"></td><td id="data"></td><td id="data"></td><td id="data"></td><td id="data"></td></tr>
        <tr><td>3</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td>4</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td>5</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td>6</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td>7</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td>8</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td>9</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td>10</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td>11</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td>12</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td>13</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td>14</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td>15</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td>16</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td>17</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td>18</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td>19</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td>20</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td>21</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td>22</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td>23</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td>24</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td>25</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td>26</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td>30</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td>27</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td>28</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td>29</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
    </table>
        
        
</div>
<hr />
{% endblock %}